<section class="toolbar">
  <mat-toolbar class="toolbar-style">
    <span>Logs de Acesso</span>
  </mat-toolbar>
</section>

<div class="table-container container-height">
  <div class="input-container">
    <section class="log-inputs">
      <mat-form-field appearance="standard" class="log-inputs-spacing">
        <mat-label>Visualizar tabela por</mat-label>
        <mat-select>
          <mat-option (click)="visualizarPorLockId()">lockId</mat-option>
          <mat-option (click)="visualizarPorUserId()">userId</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="standard" formControlName="filterInput">
        <mat-label>Pesquisar Log</mat-label>
        <input (keyup)="teste()" matInput placeholder="Ex. Maria dos Santos" #input />
      </mat-form-field>
    </section>
  </div>
  <section class="table">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 log-table">
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef>ID do Usuário</th>
        <td mat-cell *matCellDef="let logs">{{ logs.payload.userId }}</td>
      </ng-container>

      <ng-container matColumnDef="lockId">
        <th mat-header-cell *matHeaderCellDef>ID da fechadura</th>
        <td mat-cell *matCellDef="let logs">{{ logs.lockId }}</td>
      </ng-container>

      <ng-container matColumnDef="logId">
        <th mat-header-cell *matHeaderCellDef>ID do Log</th>
        <td mat-cell *matCellDef="let logs">{{ logs.payload.logId }}</td>
      </ng-container>

      <ng-container matColumnDef="estadoAtualFechadura">
        <th mat-header-cell *matHeaderCellDef>Estado da Fechadura</th>
        <td mat-cell *matCellDef="let logs">{{ logs.payload.isLocked }}</td>
      </ng-container>

      <ng-container matColumnDef="metodoAbertura">
        <th mat-header-cell *matHeaderCellDef>Método de Abertura</th>
        <td mat-cell *matCellDef="let logs">{{ logs.payload.method }}</td>
      </ng-container>

      <ng-container matColumnDef="macAdress">
        <th mat-header-cell *matHeaderCellDef>Mac Adress</th>
        <td mat-cell *matCellDef="let logs">{{ logs.payload.method }}</td>
      </ng-container>

      <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>Nome do usuário</th>
        <td mat-cell *matCellDef="let logs">{{ logs.payload.userName }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </section>
</div>
